<%- include('includes/head.ejs', { title: 'Admin' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Profile Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet qui natus nulla, sunt ea recusandae suscipit. Dignissimos voluptates natus laboriosam vero exercitationem! Dignissimos odit optio distinctio dolores ea sapiente tempora.</p>
  </main>
</body>
</html>